/* General styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header styles */
header {
  background-color: #1260cc;
  color: #fff;
  padding: 20px 0;
  margin-top: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0;
}

/* Hero section styles */
.hero {
  background-color:#5a788d;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 150px;
  color: #fff;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin: 0;
  text-align: right;
}

.hero-content p {
  font-size: 24px;
  margin: 15px 0;
  text-align: right;
}


/* Dashboard styles */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.dashboard-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
  background-color:#3a9bdc;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  margin-left: 15px;
}
.dashboard-item span {
  border: 1px solid #ccc;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
}

.dashboard-item h2 {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashboard-item p {
  margin: 0;
  font-size: 35px;
}

.dashboard-input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: flex-end;
}

.dashboard-input input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}

.dashboard-input label {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
}

.dashboard-input button {
  padding: 10px;
  background-color: #3a9bdc;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.dashboard-input button:hover {
  background-color: #3a9bdc;
}

.transaction-forms {
  display: flex;
  justify-content: flex-end;
}

.dashboard-input:first-child {
  margin-right: 20px;
}

.dashboard-input:last-child {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .dashboard-item {
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
  }
}
